.about {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    background-color: #b7c6d1;
}

.profile {
    margin-top: -5rem;
}

.profile img {
    width: 10rem;
    border: 3px solid rgb(114, 114, 114);
    border-radius: 50%;
}

.profile-info {
    flex-grow: 1;
}

@media screen and (max-width: 450px) {
    .about {
        flex-direction: column;
        text-align: center;
    }
}