<header>
    <a href="#"> <img src="/assets/img/logo.png" alt="logo-ArgentinaPrograma"> </a>
   
    <nav>
        <a href="https://t.me/Lauiis" target="_blank" title="Telegram"><i class="fa fa-telegram fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/mlauraislas/" target="_blank" title="LinkedIn"><i
                class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://wa.me/2494623608" target="_blank" title="WhatsApp"><i class="fa fa-whatsapp fa-2x"></i></a>
                <a href="#" title="Cerrar sesión" *ngIf="isLogged" (click)="onLogOut()"><i class="fa fa-sign-out fa-2x"></i></a>
    </nav>
    
</header>